
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=passwordtest
DB_NAME=db_lemonbyte
JWT_SECRET=JWT_LEMONPRUEBA_TECNICA



-----------------------------------------------
TEMPLATE DE ENV: Este es el formato de prueba de los enviroments que
posee el proyecto, se recomienda crear un nuevo archivo .env con los
datos señalados a continuación en el template, para evitar problemas de 
seguridad y de configuración en el proyecto.
-----------------------------------------------